@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
body{
    line-height: 1.7;
    font-family: "Barlow",sans-serif;
    color: #516171;
}
img{
    width: 100%;
}
.bg-cover{
    background-position: center !important;
    background-repeat: none !important;
    background-size: cover !important;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color:#092032 ;
}
/*Navigation*/

.top-nav p{
    margin-bottom: 0;
    display: inline-block;
    margin-right: 8px;
    color: #ffff;
    padding-top: 5px;
    padding-bottom: 5px;

}
.top-nav i,
.top-nav span{
    vertical-align: middle;
}
a{
    transition: all 1.7 ease;
    text-decoration: none;
    color: #092032;
    font-weight: 500;
}
.top-nav{
    background-color: #ff4d29;
}
.social-links a{
    color: #ffff;
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    font-size: 15px;
}
.social-links a:hover{
   background-color: white;
   color: #ff4d29;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active{
    color: #ff4d29;
}
.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: #092032;
}
.navbar-brand span{
    color: #ff4d29;
}

/*BTN*/
.btn{
    padding: 9px 24px;
    font-weight: 500;
    
}

.btn-brand{
    background-color: #ff4d29;
    color: #ffff;
    border-color: #ff4d29;
}
.btn-brand:hover{
    color: #ffffff;
    background-color: #dc3d1e;

}

/*SLIDER*/
.slide1{
background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/bg_banner1.jpg');
}
.slide2{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/bg_banner2.jpg');    
}

.owl-prev,
.owl-next{
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-content: center;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin-top: -30px !important;
    color: #ffffff !important;
    font-weight: 600px !important;
    font-size: 12px !important;
    border-radius: 100px !important;
}

.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}
.owl-prev:hover,
.owl-next:hover{
    background-color: #ff4d29 !important;
}